#root {
  width: 100vw;
  height: 100vh;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@counter-style emoji {
  system: fixed;
  symbols: "💫" "\1F4C8" "\2728";
  suffix: " ";
}