#root {
  max-width: 1280px;
  width: 1280px;
  height: 1000px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@counter-style emoji {
  system: fixed;
  symbols: "💫" "\1F4C8" "\2728";
  suffix: " ";
}