@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

#root {
  width: 100vw;
  height: 100vh;
  font-family: 'Bebas Neue', sans-serif;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn2 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@counter-style emoji {
  system: fixed;
  symbols: "💫" "\1F4C8" "\2728";
  suffix: " ";
}

@keyframes growWindow {
  0% {
    height: 0;
    width: 100vw;
    border-radius: 0rem;
  }
  50% {
    height: 32vw;
    width: 100vw;
    border-radius: 0rem;
  }
  100% {
    height: 32vw;
    width: 64vw;
    border-radius: 1.2rem;
  }
}

@keyframes imgZoomOut {
  0% {
    min-width: 100vw;
  }
  50% {
    min-width: 100vw;
  }
  100% {
    min-width: 90vw;
  }
}

@keyframes bgSlideInFromLeft {
  0% {
    left: -100vw;
  }
  40% {
    left: -100vw;
  }
  100% {
    left: 0;
  }
}

@keyframes firstTitleOut {
  0% {
    opacity: 1;
    height: 5.8vw;
  }
  50% {
    opacity: 0;
    height: 0;
  }
  100% {
    opacity: 0;
    height: 0;
  }
}

.project-card {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  margin-top: 2px;
}

.project-card:hover {
  margin-top: 0px;
  box-shadow: rgba(60, 64, 67, 0.5) 0px 1px 2px 0px, rgba(60, 64, 67, 0.25) 0px 2px 4px 2px;
}

.project-card > div * {
  margin: 0;
}
.project-card > div:first-child img {
  margin: 0;
}
section div .project-card > .card-content * {
  margin: 0 0.5rem;
}

.project-card > .card-tech {
  line-height: 1.1;
}

.project-card > .card-image {
  line-height: 0;
}

.project-card:hover > .card-image .cover-image {
  opacity: 0;
}